# App Settings
APP_NAME="Task Management System"
APP_ENV=localhost 
APP_DEBUG=true
# APP_URL=https://task.deckoidsolution.com/
APP_URL=http://localhost/Deckoid_Task_Management
APP_TIMEZONE=Asia/Kolkata

# Database Settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=deckoid_task_management
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=etjyawmy_deckoid_task_management
# DB_USERNAME=etjyawmy_task_management
# DB_PASSWORD=task_management
# DB_CHARSET=utf8mb4

# Session Settings
SESSION_DRIVER=file
SESSION_LIFETIME=720
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax

# Mail Settings
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Logging
LOG_CHANNEL=file
LOG_LEVEL=debug
LOG_PATH=storage/logs

# Cache
CACHE_DRIVER=file
CACHE_LIFETIME=3600
